
{% extends 'base.html' %}


{% block content %}
<h1> Create a room</h1>
<form>
  <div class="form-group">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
  </div>

  <div class="form-group">
    <label for="room-id">Room Name:</label>
	<input type="text" id="room-id" name="room" required>
  </div>

  <div class="form-group">
    <label for="pin">Numerical PIN (Optional):</label>
    <input type="text" id="pin" name="pin">
  </div>

  <button id='createRoomButton' type="submit">Create room</button>
</form>

<script>
	document.getElementById('createRoomButton').addEventListener('click', function() {
		event.preventDefault(); // Prevent the form from submitting normally
		
		// Get form input values
		var username = document.getElementById('username').value;
		var roomName = document.getElementById('room-id').value;
		var pin = document.getElementById('pin').value;
		
		// Create a data object with the form values
		var data = {
			username: username,
			roomName: roomName,
			pin: pin
		};
		
		// Save the username to localStorage
		localStorage.setItem('username', username);
		
		// Send a POST request to the backend to create a new room
		fetch('/create_room', {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json'
			},
			body: JSON.stringify(data)
		})
		.then(function(response) {
			return response.json();
		})
		.then(function(data) {
			// Handle the response and redirect to the new room
			var roomID = data.room_id;
            console.log(data);
			window.location.href = '/rooms/' + roomID; // Redirect to the new room
		})
		.catch(function(error) {
			console.log('Error:', error);
		});
	});
</script>	
{% endblock %}


