{% extends 'base.html' %}

{% block content %}
<head>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js"></script>
    <script src="//code.jquery.com/jquery-3.6.0.min.js"></script>    
</head>
<body>
	<div id="container">
		<div id="tableArea" ></div>
		
		<table id="scoreArea" class="score-table">
			<thead>
				<tr>
				<th>Name</th>
				<th>Bet</th>
				<th>Wins</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
		
		<div id="handArea"></div>
		
		<div id="message-container">
			<div id="messageArea"></div>
			<form id="chatForm">
				<input type="text" id="message" placeholder="Enter your message">
				<input type="submit" value="Send">
			</form>
		</div>
	</div>
    
    <div>
        <button id="startGameButton">Start Game</button>
    </div>
</body>
<script src="{{url_for('static', filename='Card.js')}}"></script>
<script src="{{url_for('static', filename='socketHandler.js')}}"></script>
<script src="{{url_for('static', filename='uiManager.js')}}"></script>
<script src="{{url_for('static', filename='userManager.js')}}"></script>
<script src="{{url_for('static', filename='main.js')}}"></script

{% endblock %}


