/* Define the grid areas for the container */
#container {
  display: grid;
  grid-template-areas:
    "tableArea tableArea tableArea scoreArea"
    "handArea handArea handArea messageArea";
  grid-gap: 1rem;
}

#tableArea {
  grid-area: tableArea;
}

#handArea {
  grid-area: handArea;
}

#scoreAreaWrapper {
  grid-area: scoreArea;
}

#messageWrapper {
  grid-area: messageArea;
}

#messageArea, #scoreArea, #tableArea, #handArea {
  border: 1px solid #ccc;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}

#messageArea {
  height: 200px;
  overflow-y: auto;
}

#tableArea {
  height: 300px;
  background-image: url('table.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#handArea {
  height: 220px;
}

.card-wrapper {
  float: left;
  transform-origin: top left;
  padding: 2px;
}

.card {
  width: 150px;
  height: 214px;
  background-color: white;
  background-image: url('https://i.imgur.com/yKggR5N.png');
  background-position: center;
  background-repeat: no-repeat;
  border: 1px #555555 solid;
  border-radius: 10px;
  box-shadow: 2px 2px 3px 0px #000000;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 20% auto;
  padding: 2rem;
  border: 1px solid #888;
  width: 90%;
  max-width: 400px;
  border-radius: 4px;
}

#floatingText {
  font-size: 1.5rem;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: red;
  padding: 1rem;
  border-radius: 5px;
  opacity: 0;
  z-index: 1001;
}

.final-score-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  background-color: rgba(76, 11, 174, 0.9);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1002;
}

.popup-header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 10px;
}

.popup-content {
  /* ensure the table is within the content div */
  overflow-y: auto;
  max-height: 400px;
}

.final-score-table {
  background-color: white;
  padding: 2rem;
  border-radius: 5px;
  max-width: 500px;
}

.final-score-table th,
.final-score-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.final-score-popup.show {
  display: flex;
  flex-direction: column;
}

.red-button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 16px;
}

.red-button:hover {
  background-color: darkred;
}

@keyframes highlight {
  0%, 100% { border-color: yellow; }
  50% { border-color: red; }
}

@keyframes floatAnimation {
  0%, 100% { opacity: 0; transform: translate(-50%, 100vh); }
  10%, 90% { opacity: 1; transform: translate(-50%, -50%); }
}